<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragment/head::head"> </head>

    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <header th:replace="fragment/header::header"> </header>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <aside th:replace="fragment/slidebar::slidebar"> </aside>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Formulaire versement</h4>
                            <div class="ml-auto text-right">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/}">Tableau de bord</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Formulaire versement</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">

                    <!--***************** LES MESSAGES D'ALERTS ***************************-->
                    <block th:replace="fragment/messagealert::alert"></block>
                    <!--****************** FIN ALERT ERREUR ******************-->

                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <div class="card-body wizard-content">
                            <h4 class="card-title">Information concernant le retrait</h4>
                            <h6 class="card-subtitle"></h6>
                            <form th:object="${retrait}" id="example-form" th:action="@{/retrait/save}" class="m-t-40" method="post">
                                <div>
                                    <h3>Versement</h3>
                                    <section>
                                        <label for="numCpt">Numero account *</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">#</span>
                                            </div>
                                            <input id="numCpt" name="numCpt" type="text" class="required form-control" aria-describedby="basic-addon1">
                                        </div>

                                        <br>
                                        <label for="montant">Montant *</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">CFA</span>
                                            </div>
                                            <input id="montant" name="montant" th:field="*{montant}" type="number" class="required form-control" aria-describedby="basic-addon1">
                                        </div>

                                        <label for="agence">Agence *</label>
                                        <div class="input-group">
                                            <input id="agence" name="agence" th:field="*{agence}" type="text" class="required form-control" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="caisse">Caisse *</label>
                                        <div class="input-group">
                                            <input id="caisse" name="caisse" th:field="*{caisse}" type="text" class="required form-control" aria-describedby="basic-addon1">
                                        </div>
                                        <p>(*) Obligatoire</p>
                                    </section>
                                    <h3>Terminer</h3>
                                    <section>
                                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                                        <label for="acceptTerms">Je suis d'accord avec les informations entrées.</label>
                                    </section>
                                </div>
                                <button type="submit" id="btnValider" style="display: none"></button>
                            </form>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer th:replace="fragment/footer::footer"> </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>

        <!-- ============================================================== -->
    <block th:replace="fragment/js::js"></block>
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <script>
        // Basic Example with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                $("#btnValider").click();
            }
        });

    </script>
    
    <!--*********************** DEBUT ALERT JS ****************************-->
    <block th:replace="fragment/alertjs::alert"></block>
    <!--*********************** FIN ALERT JS ****************************-->
    
</body>

</html>