<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragment/head::head">

    </head>

    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <header th:replace="fragment/header::header"> </header>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <aside th:replace="fragment/slidebar::slidebar">  </aside>
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Mon Client</h4>
                            <div class="ml-auto text-right">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/}">tableau de bord</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Mon client</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">

                    <!--***************** LES MESSAGES D'ALERTS ***************************-->
                    <block th:replace="fragment/messagealert::alert"></block>
                    <!--****************** FIN ALERT ERREUR ******************-->

                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="row">



                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">Profil Client</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <img class="uni-avatar mx-auto d-block" th:src="@{https://res.cloudinary.com/dtpt8vqjj/image/upload/v1545155615/default-avatar.png}" alt="Card image cap"
                                             width="150px" height="150px">
                                        <h5 class="text-sm-center mt-2 mb-1">
                                            <span th:text="${courant.client.prenom}"></span>
                                            <span th:text="${courant.client.nom}"></span>
                                        </h5>
                                        <div class="location text-sm-center">
                                            <i class="fa fa-map-marker"></i> Abidjan, Cote d'ivoire</div>
                                    </div>
                                    <hr>
                                    <div class="card-text text-sm-center">
                                        <span class="float-left">
                                            <strong>Telephone :</strong> <span th:text="${courant.client.tel}"></span>
                                            <br>
                                            <strong>Email: </strong> <span th:text="${courant.client.email}"></span>
                                            <br>
                                        </span>
                                        <span class="float-right">
                                            <a href="nouveauclient.html">
                                                <button type="button" class="btn btn-outline-success">Modifier</button>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">

                            <!-- Tabs -->
                            <div class="card">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                            <span class="hidden-sm-up"></span>
                                            <span class="hidden-xs-down">Compte courant</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                            <span class="hidden-sm-up"></span>
                                            <span class="hidden-xs-down">Compte epargne</span>
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border">
                                    <div class="tab-pane active" id="home" role="tabpanel">
                                        <div class="p-20">
                                            <h5 class="card-title m-b-0">Informations concernant le compte</h5>
                                            <div class="form-group m-t-20">
                                                <label style="color: red">Numero compte</label>
                                                <input type="text" th:value="${courant.numCpt}"  id="disabledTextInput" class="form-control" placeholder="null"
                                                       disabled>
                                            </div>

                                            <div class="form-group m-t-20">
                                                <label>Date ouverture

                                                </label>
                                                <input th:value="${#calendars.format(courant.dateOuverture,'dd/MM/yyyy')}" type="text" class="form-control date-inputmask" id="date-mask"
                                                       placeholder="Enter Date" disabled>
                                            </div>
                                            <div class="form-group m-t-20">
                                                <label style="color: red">Decouvert</label>
                                                <input th:value="${courant.montantInitial}" type="text" id="disabledTextInput" class="form-control" placeholder="null"
                                                       disabled>
                                            </div>
                                            <div class="form-group m-t-20">
                                                <label style="color: red">Solde</label>
                                                <input th:value="${courant.solde}" type="text" id="disabledTextInput" class="form-control" placeholder="null"
                                                       disabled>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="tab-pane  p-20" id="profile" role="tabpanel">

                                        <div class="p-20" id='infoepargne'>
                                            <h5 class="card-title m-b-0">Informations concernant le compte epargne</h5>
                                            <div class="form-group m-t-20">
                                                <label style="color: red">Numero compte</label>
                                                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"
                                                       disabled>
                                            </div>

                                            <div class="form-group m-t-20">
                                                <label>Date ouverture

                                                </label>
                                                <input type="text" class="form-control date-inputmask" id="date-mask"
                                                       placeholder="Enter Date" disabled>
                                            </div>
                                            <div class="form-group m-t-20">
                                                <label style="color: red">Taux</label>
                                                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input"
                                                       disabled>
                                            </div>

                                            <div class="float-right">
                                                <button type="button" id="to-liste" class="btn btn-outline-success">Retour</button>
                                            </div>
                                            <br>


                                        </div>

                                        <div th:if="!${epargnes}" class="p-20 text-center">

                                            <h5 class="card-title m-b-0 text-center">Veuillez ajouter un compte epargne
                                                s'il vous plait</h5>

                                            <div>
                                                <br>
                                                <a th:href="${'/epargne/'+courant.client.id}">
                                                    <button type="button" id="to-liste" class="btn btn-outline-success">Nouveau
                                                        compte</button>
                                                </a>

                                            </div>
                                            <br>


                                        </div>


                                        <!--liste des comptes epargnes-->
                                        <div th:if="${epargnes}" class="p-20">
                                            <h5 class="card-title m-b-0">Liste des comptes epargnes</h5>
                                            <br>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Compte</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="epargne :${epargnes}">
                                                        <td th:text="${epargne.numCpt}">N° 5678678687HJG</td>
                                                        <td>
                                                            <button type="button" id="to-info" class="btn btn-outline-success">Voir</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">

                        <!--*****************************   AFFICHAGE DES DEPOTS RECU ********************************-->
                        <div class="col-md-4">
                            <!-- card new -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title m-b-0">Mes depots</h4>
                                </div>
                                <ul th:if="${versements}" th:each="versement :${versements}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-check-circle w-30px m-t-5"></i>
                                                <div>
                                                    <span th:text="${versement.montant}" class="font-bold">montant</span>
                                                    <span> FCFA</span> reçu le 
                                                    <span th:text="${#calendars.format(versement.dateCreation,'dd/MM/yyyy')}"></span>
                                                    <span> à </span>
                                                    <span th:text="${#calendars.format(versement.dateCreation,'HH:mm')}"></span>
                                                    <span> par </span>
                                                    <span th:text="${versement.remettant}"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="!${versements}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-plus w-30px m-t-5"></i>
                                                <div>
                                                    <p>Aucun depot reçu</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--*****************************   FIN AFFICHAGE DES DEPOTS RECU ********************************-->

                        
                        <!--*****************************   AFFICHAGE DES VIREMENTS RECU ********************************-->
                        <div class="col-md-4">
                            <!-- card new -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title m-b-0">Mes virements</h4>
                                </div>
                                <ul th:if="${virementsrecu}" th:each="virement :${virementsrecu}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-check-circle w-30px m-t-5"></i>
                                                <div>
                                                    <span th:text="${virement.montant}" class="font-bold">montant</span>
                                                    <span> FCFA</span> reçu le 
                                                    <span th:text="${#calendars.format(virement.dateCreation,'dd/MM/yyyy')}"></span>
                                                    <span> à </span>
                                                    <span th:text="${#calendars.format(virement.dateCreation,'HH:mm')}"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="${virementsenvoye}" th:each="virement :${virementsenvoye}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-check-circle w-30px m-t-5"></i>
                                                <div>
                                                    <span th:text="${virement.montant}" class="font-bold">montant</span>
                                                    <span> FCFA</span> envoyé le  
                                                    <span th:text="${#calendars.format(virement.dateCreation,'dd/MM/yyyy')}"></span>
                                                    <span> à </span>
                                                    <span th:text="${#calendars.format(virement.dateCreation,'HH:mm')}"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="!${virementsrecu}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-plus w-30px m-t-5"></i>
                                                <div>
                                                    <p>Aucun virement reçu</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                 <ul th:if="!${virementsenvoye}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-plus w-30px m-t-5"></i>
                                                <div>
                                                    <p>Aucun virement envoyé</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--*****************************   FIN AFFICHAGE DES DEPOTS RECU ********************************-->
                        

                        <!--*****************************   AFFICHAGE DES RETRAITS EFFECTUES ********************************-->
                        <div class="col-md-4">
                            <!-- card new -->

                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title m-b-0">Mes retraits</h4>
                                </div>
                                <ul th:if="${retraits}" th:each="retrait :${retraits}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-check-circle w-30px m-t-5"></i>
                                                <div>
                                                    <span th:text="${retrait.montant}" class="font-bold">montant</span>
                                                    <span> FCFA retiré le </span>
                                                    <span th:text="${#calendars.format(retrait.dateCreation,'dd/MM/yyyy')}"></span>
                                                    <span> à </span>
                                                    <span th:text="${#calendars.format(retrait.dateCreation,'HH:mm')}"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul th:if="!${retraits}" class="list-style-none">
                                    <li class="card-body border-top">
                                        <a href="#" class="m-b-0 p-0">
                                            <div class="d-flex no-block">
                                                <i class="fa fa-plus w-30px m-t-5"></i>
                                                <div>
                                                    <p>Aucun retrait effectué</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--*****************************   FIN AFFICHAGE DES DEPOTS RECU ********************************-->

                    </div>
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer th="fragment/footer::footer">

                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
    <block th:replace="fragment/js::js">

    </block>

</body>


<script>
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#infoepargne').hide();

    $('#listeepargne').hide();

    $('#to-info').on("click", function () {
        $("#listeepargne").slideUp();
        $("#infoepargne").fadeIn();
    });
    $('#to-liste').click(function () {

        $("#infoepargne").hide();
        $("#listeepargne").fadeIn();
    });
</script>

<!--*********************** DEBUT ALERT JS ****************************-->
<block th:replace="fragment/alertjs::alert"></block>
<!--*********************** FIN ALERT JS ****************************-->

</html>