<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragment/head::head"> </head>

    <body>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
            <!-- ============================================================== -->
            <!-- Topbar header - style you can find in pages.scss -->
            <!-- ============================================================== -->
            <header th:replace="fragment/header::header"> </header>
            <!-- ============================================================== -->
            <!-- End Topbar header -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside th:replace="fragment/slidebar::slidebar"> </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Page wrapper  -->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">Formulaire du client</h4>
                            <div class="ml-auto text-right">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/}">Tableau de bord</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Nouveau client</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <!-- Start Page Content -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <div class="card-body wizard-content">
                            <h4 class="card-title">Information concernant le client</h4>
                            <h6 class="card-subtitle"></h6>
                            <form th:object="${current}" id="example-form" th:action="@{/client/save}" method="post" class="m-t-40">
                                <div>
                                    <h3>Profile</h3>
                                    <section>
                                        <label for="name">Nom *</label>
                                        <input id="name" th:field="*{client.nom}" name="name" type="text" class="required form-control">
                                        <label for="surname">Prenom(s) *</label>
                                        <input id="surname" th:field="*{client.prenom}" name="surname" type="text" class="required form-control">
                                        <label for="email">Email *</label>
                                        <input id="email" th:field="*{client.email}" name="email" type="email" class="required email form-control">
                                        <label for="address">Adresse</label>
                                        <input id="address" name="address" th:field="*{client.adresse}" type="text" class=" form-control">
                                        <label for="address">Telephone</label>
                                        <input id="address" name="tel" type="number" th:field="*{client.tel}" class=" form-control">
                                        <p>(*) Obligatoire</p>
                                    </section>
                                    <h3>Nouveau account current</h3>
                                    <section>
                                        <label for="name">Date d'ouverture *</label>
                                        <input id="name" name="name" th:field="*{dateOuverture}" type="date" class="required form-control">
                                        <label for="surname">Montant initial *</label>
                                        <input id="surname" name="surname" th:field="*{montantInitial}" type="number" class="required form-control">
                                        <p>(*) Obligatoire</p>
                                    </section>
                                    <h3>Terminer</h3>
                                    <section>
                                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                                        <label for="acceptTerms">Je suis d'accord avec les informations entrées</label>
                                    </section>
                                </div>
                                <button type="submit" style="display: none" id="btnValider">valider</button>
                            </form>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End PAge Content -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer th:replace="fragment/footer::footer"> </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        
    <block th:replace="fragment/js::js"> </block>


    <script>
        // Basic Example with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                $("#btnValider").click();
            }
        });


    </script>
</body>

</html>