<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5" th:fragment="slidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/}"
                       aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Tableau de bord</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/client/formclient}"
                       aria-expanded="false">
                       <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Nouveau client</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/versement}"
                       aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Versement</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/transfer}"
                       aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Virement</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/retrait}"
                       aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Retrait</span>
                    </a>
                </li>
                <br><br>
                <li th:if="${nbClients}" class="sidebar-item slideInfo hide-menu">
                    <span class="sidebar-link" aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Nombre de clients :</span>
                        <span th:text="${nbClients}" class="badge badge-pill badge-danger small" style="margin-left: 5px;">0</span>
                    </span>
                </li>
                <br>
                <li th:if="${nbClients}" class="sidebar-item slideInfo hide-menu">
                    <span class="sidebar-link" aria-expanded="false">
                        <!--<i class="fab fa-table"></i>-->
                        <span class="hide-menu">Nombre de accounts :</span>
                        <span th:text="${nbCompte}" class="badge badge-pill badge-danger small" style="margin-left: 5px;">0</span>
                    </span>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->